.menuItem {
    position: absolute;
    display:Inline;
    left:10%;
    right:10%;
    height: 80px;
    background: white;
    bottom: 60px;
    text-align: center
}

.stone, .shear, .fabric{
    display: inline-block;
    height: 60px;
    width: 60px;
    background-repeat:no-repeat;
}

.stone {
    background-image:url(image/image2.png);
    margin-top: 10px;
    margin-right: 30px;
    background-size: 36px,58px;
}

.shear {
    background-image:url(image/image1.png);
    margin-top: 10px;
    background-size: 36px,58px;
}

.fabric {
    background-image:url(image/image3.png);
    margin-top: 10px;
    margin-left: 30px;
    background-size: 49px,58px;
}